# Copyright (c) 2015, JDCTeam
#

on post-fs-data
     # Trim partitions
     start emmc_trim
     
on boot
    # Start BSOD Killer
    start bsod_killer
    
    # Start LEDify
     start ledify

# BSOD Killer
service bsod_killer /sbin/bsod_killer
     user root
     oneshot
     seclabel u:r:init:s0
     disabled

# eMMC trim
service emmc_trim /sbin/emmc_trim
     user root
     oneshot
     seclabel u:r:init:s0
     disabled

# LEDify
service ledify /sbin/ledify
     user root
     oneshot
     seclabel u:r:init:s0
     disabled
