# Copyright (c) 2018, JDCTeam
#

on fs
     # Trim partitions
     start emmc_trim
     # Reset proximity sensor
     start proximity

# eMMC trim
service emmc_trim /system/vendor/bin/emmc_trim
     user root
     group shell
     disabled
     oneshot
     
# Proximity
service proximity /system/vendor/bin/proximity
     user root
     group shell
     disabled
     oneshot
