# Copyright (c) 2023, JDCTeam
#

on fs
     # Trim partitions
     start emmc_trim

# eMMC trim
service emmc_trim /system/vendor/bin/emmc_trim
     user root
     group shell
     disabled
     oneshot

on post-fs-data
     # Mount ZRAM swap
     start zram_swap

service zram_swap /system/vendor/bin/zram_swap
     user root
     group shell
     disabled
     oneshot