# Copyright (c) 2020, JDCTeam
#

on fs
     # Trim partitions
     start emmc_trim

# eMMC trim
service emmc_trim /system/vendor/bin/emmc_trim
     user root
     group shell
     disabled
     oneshot